@import "../node_modules/bootstrap/scss/functions";
// Import all of Bootstrap's CSS
$enable-gradients: true;
$enable-shadows: true;
$enable-transitions: true;
// $body-color: #eeeeee;
// $body-bg: #000000;

$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap";