// Import all of Bootstrap's CSS
$enable-gradients: true;
$enable-shadows: true;
$body-color: #AAAAAA;
$body-bg: #000000;

$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
