on:
  push:

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out Branch
        uses: actions/checkout@v3
      - name: Setting up nodeJS
        uses: actions/setup-node@v3
        with:
          node-version: latest
      - name: Installing dependencies
        run: yarn
      - name: Compilling with Vite
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: yarn build
      - name: Testing with Vite
        run: yarn test
